[submodule "third_party/ffmpeg-rockchip"]
	path = third_party/ffmpeg-rockchip
	url = https://github.com/nyanmisaka/ffmpeg-rockchip.git
[submodule "third_party/mpp"]
	path = third_party/mpp
	url = https://github.com/rockchip-linux/mpp.git
